@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
.navbar-brand img{
  width: 4rem;
  height: 4rem;
}
.navbar-brand>.imag1{
  width: 5rem;
  height: 5rem;
}
.navbar-brand>.imag2{
  width: 4rem;
  height: 4rem;
}
.navbar-brand>.imag3{
  width: 5rem;
  height: 4rem;
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}
.nav-item{
  font-weight: 500;
}
.nav-item a:hover{
  font-weight: 1000;
  color:green !important;
}

#header{
  width: 100%;
  height: 70vh;
}
#header h1{
  margin: 0 0 10px 0;
  font-size: 3rem;
  font-weight: 700;
  color: #34385E;
  max-width: 90%;
  max-height: 90%;
  font-variant: small-caps;
}
#header h2{
  font-size: 2.5rem;
    color: #345A5E;
    font-variant: small-caps;
    margin-left: -3rem;
    font-weight: 700;
}
#header h3{
  font-size: 2rem;
    color: #345A5E;
    font-variant: small-caps;
    margin-left: -3rem;
}
#header .btn-get-started{
  font-weight: 800;
  font-variant: small-caps;
  font-size: 19px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.5s;
  color: magenta;
  border: 3px solid darkgreen;
  text-decoration: none;
  max-width: 90%;
  max-height: 90%;
  margin-left: -4rem;
}
#header .btn-get-started:hover{
  background: yellow;
  color: black;
}
/* .header-img{
  text-align: right;
} */
.animated{
    animation-name: img1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    max-width: 100%;
    max-height: 90%;
    padding-top: 3rem;
    /* margin-left: 30px;
    margin-top: 5px; */
}
@keyframes img1 {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

.card{
  overflow: hidden;
  cursor: pointer;
}
.card::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
    right: -16px;
    background: #00838d;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}
.card:hover::before{
  transform: scale(12);
}
.card:hover{
  box-shadow: 0px 4px 8px 2px rgba(38, 38, 38, 0.5);
    transition: all 0.5s ease-out;
}
#about_us h2{
  font-weight: 550;
  font-family: Merriweather;
}
/* .carousel-inner h5{
  font-size: 4rem;
  color: white;
  font-variant: small-caps;
}
.carousel-inner p{
  font-size: 1.5rem;
  color: white;
}
.carousel-inner a{
  text-decoration: none;
  cursor: pointer;
  color: wheat;
}
.carousel-inner a:hover{
  color: red;
  font-weight: 1000;
} */
#footer{
  background: rgba(206, 248, 248, 0.804);
} 

@media (max-width:991px){
  #header{
    height: 80vh;
    text-align: center;
  }
  #header .header-img{
    text-align: center;
  }
  #header .header-img img{
    width: 60%;
  }
}
#about_us h1{
  font-weight:bolder;
  font-family:Merriweather;
  font-size:3rem;
}
@media (max-width:768px){
  #header{
    margin-top: 20px;
  }
  #header h1{
    font-size: 28px;
  }
  #header h2{
    font-weight: 700;
    color: black;
  }
  #header .header-img img{
    width: 70%;
  }
}
@media only screen and (max-width:375px){
  #about_us h1 p{
    margin-top: 15rem;
  }
}
@media only screen and (max-width:280px){
  #about_us h1{
    margin-top: 5rem;
  }
  .p1{
    font-size: 1.8rem;
  }
  
}
#root{
  background: linear-gradient(to right,skyblue, lightgreen);
}




